.about {
  background: black;
  color: white;
  font-family: Nunito Sans;
  text-align: center;
  font-size: 1.7vw;
}

.imageholder {
  width: 100vw;
}

.story {
  position: relative;
  color: white;
  bottom: 80px;
  text-align: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.connect-about {
  border: 1px solid white;
  width: max-content;
  color: white;
  padding: 12px 65px 12px 65px;
  align-self: center;
  margin: 40px auto 0px auto;
  text-decoration: black underline;
  transition: 0.1s;
}

.connect-about:hover {
  color: white;
  opacity: 0.7;
}

.distorted-grid {
  display: flex;
  padding: 7vw;
}

.grid2 {
  position: relative;
  bottom: 130px;
}

.grid1,
.grid2,
.grid3 {
  padding: 60px;
  color: white;
}

.about-images {
  width: 22vw;
  height: 17vw;
}

.distorted-text {
  color: white;
  font-family: Nunito Sans;
  text-align: center;
  width: 22vw;
}
